*.pth
*.iml
*.idea
*.ipynb_checkpoints
*.pt
/chapter2_HuggingFace/tokenizer.json
/chapter3_TransformerInPytorch/dataset/input.txt
/chapter4_TransferLearning/*.csv
/chapter5_CreateLLM/pretrained_bert/**/*
/chapter5_CreateLLM/*.csv
/chapter6_NLPTasks/model/chatbot
/chapter6_NLPTasks/dataset

